<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis中的映射文件:内部要定义sql映射 -->
<mapper namespace="com.jt.sys.dao.SysMenuDao">
    <!-- 基于菜单id获取权限 -->
    <select id="findPermissions"
            resultType="string">
           select permission
           from sys_menus
           where id in 
           <foreach collection="menuIds"
                    open="("
                    close=")"
                    separator=","
                    item="menuId">
              #{menuId}
           </foreach> 
    </select>

    <!-- 更新菜单信息 -->
    <update id="updateObject"
            parameterType="com.jt.sys.entity.SysMenu">
         update sys_menus
         set
           name=#{name},
           type=#{type},
           sort=#{sort},
           url=#{url},
           parentId=#{parentId},
           permission=#{permission},
           modifiedUser=#{modifiedUser},
           modifiedTime=now()
        where id=#{id}
    </update>
    
    <!-- 向表单中插入菜单信息 -->
    <insert id="insertObject"
          parameterType="com.jt.sys.entity.SysMenu">
          insert into sys_menus
          (name,url,type,sort,note,parentId,permission,
          createdTime,modifiedTime,createdUser,modifiedUser)
          values
          (#{name},#{url},#{type},#{sort},#{note},#{parentId},#{permission},
          now(),now(),#{createdUser},#{modifiedUser})
    </insert>

    
    <!-- 查询菜单节点信息 -->
    <select id="findZtreeMenuNodes"
            resultType="com.jt.common.vo.Node">
         select id,name,parentId
         from sys_menus
    </select>
    
    <!-- 基于菜单id统计子菜单的个数 -->
    <select id="getChildCount"
            resultType="int">
           select count(*)
           from sys_menus m
           where m.parentId=#{id}
    </select>
    <!-- 基于菜单id执行删除操作 -->
    <delete id="deleteObject">
          delete from sys_menus
          where id=#{id}
    </delete>
    <!-- 查询当前菜单以及上级菜单的名称 -->
    <select id="findObjects" resultType="map">
        <!-- 借助左外连接 -->  
        
        select c.*,p.name parentName
        from sys_menus c left join sys_menus p
        on c.parentId=p.id
       
        <!-- 借助嵌套查询 -->
        <!-- 
        select c.*,(select name
                  from sys_menus p
                  where c.parentId=p.id) parentName
        from sys_menus c
        -->
    </select>
  
</mapper>
