<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件，写SQL 
namespace唯一标志
-->
<mapper namespace="userns">
	<!-- 查询所有记录 
			id唯一标识
		resultType把结果封装在对象上，写类的全路径-->
	<select id="findAll" resultType="cn.tedu.pojo.User">
		select * from user
	</select>
	
	<!-- 查询总记录数 -->
	<select id="count" resultType="int">
		select count(*) from user
	</select>
	
	<!-- 根据id查询记录1 -->
	<select id="findOne" 
			resultType="cn.tedu.pojo.User">
		select * from user where id=127
	</select>
	
	<!-- 根据id查询记录2 -->
	<select id="findOne2" 
			resultType="cn.tedu.pojo.User"
			parameterType="int">
		select * from user where id=#{id}
	</select>

	<!-- 新增一条记录 
	动态获取值的方式：#{？？？}  ？？？是实体对象的属性名儿
	parameterType 参数类型
	-->
	<insert id="save" 
			parameterType="cn.tedu.pojo.User">
		
		insert into user values
		(null,#{name},#{addr},#{age})
	</insert>
	
	<!-- 修改指定记录 
	动态取值：#{age}  age就是user对象的age属性
	-->
	<update id="gengxin" 
			parameterType="cn.tedu.pojo.User">
		
		update user set age=#{age} 
			where name=#{name}
	</update>
	
	
	


</mapper>  
