<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.3.xsd


       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/data/jpa">

    <context:component-scan base-package="com.jt"/>
    <import resource="classpath:spring-datasource.xml"/>
    <import resource="classpath:spring-mybatis.xml"/>
    <import resource="classpath:spring-mvc.xml"/>
    <import resource="classpath:spring-shiro.xml"/>

    <!-- 启用AOP注解的应用方式 -->
    <aop:aspectj-autoproxy/>

    <!-- 配置事务管理器(内部定义了事务管理方法):系统底层
               会基于AOP调用此对象中的方法 -->
    <bean id="tManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="DataSource" ref="druid"/>
    </bean>
    <!-- 启用注解方式的事务管理 -->
    <tx:annotation-driven transaction-manager="tManager"/>
</beans>
















